[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-nomic = "*"
langchain-community = "*"
tiktoken = "*"
langchainhub = "*"
chromadb = "*"
langchain = "*"
langgraph = "*"
tavily-python = "*"
gpt4all = "*"
bs4 = "*"
pdfplumber = "*"
google-api-python-client = ">=2.100.0"
langchain-google-community = "*"
playwright = "*"
beautifulsoup4 = "*"
gradio = "*"

[dev-packages]

[requires]
python_version = "3.11"
